.cardStyle {
  padding: 17px 34px;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  cursor: pointer;
}
.nameRow {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-bottom: 16px;
}

.nameDateColumn {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.avatarStyles {
}
