.cardStyle {
  padding: 17px 34px;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  cursor: pointer;
}
.nameRow {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-bottom: 16px;
}

.nameDateColumn {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.avatarStyles {
  position: relative;
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
}
.avatarStylesOverlaid {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
