.cardStyle {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  position: relative;
}
.firstRootItem {
  position: absolute;
  top: -20px;
  left: 20px;
  height: 20px;
  width: 0;
  border-left: 1px solid rgb(0, 0, 0, 0.15);
}
.commentAndReplies {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 16px;
}
.commentCloud {
  display: inline-flex;
  flex: 1;
  padding: 0.625rem 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1875rem;
  border-radius: 0rem 1rem 1rem 1rem;
  background: #edf5f8;
}
.nameRow {
  display: flex;
  flex-direction: row;
}
.avatarHolder {
  width: min-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.drawLine {
  flex: 1;
  width: 0;
  border-left: 1px solid rgb(0, 0, 0, 0.15);
}
.drawLineHorizontal {
  height: 0px;
  margin-top: 20px;
  min-width: 20px;
  max-width: 20px;
  border-top: 1px solid rgb(0, 0, 0, 0.15);
}
.drawLineReplyRow {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid rgb(0, 0, 0, 0.15);
}

.nameDateColumn {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.lineReplyAndFurther {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.lineReplyAndFurtherWhileReplying {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  flex: 1;
  margin-top: 15px;
}

.replyAndFurther {
  display: flex;
  flex-direction: column;
}
.avatarStyles {
  position: relative;
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
}
.avatarStylesOverlaid {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
